.recentSearch {
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 20px;
  border-radius: 0 0 25px 25px;
  z-index: 1;

  h6 {
    font-weight: 700;
    font-size: 14px;
    color: #444e72;
  }
}

.recentSearch__list {
  display: grid;
  margin-top: 30px;
  gap: 44px;
  max-height: 160px;
  overflow-y: auto;
}

.recentSearch__list-item {
  display: flex;
  align-items: center;
  gap: 20px;
}
